---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---
// Resist the urge to comment out the top dashes and whatever is inside. It breaks the SASS file. Leave it!

@charset "utf-8";
@import "so-simple";

$color-blue: #0020FF;
$color-purple: #6200F0;

// Add custom CSS edits here
.custom-nikita-wrap {
  max-width: $medium;
  margin: auto
}

.embed-container {
  margin-bottom: 35px;
}

// overflows large tables and makes them horizontally scrollable.
.table--overflow {
  overflow-x: auto;
  table {
    white-space: nowrap;
  }
}

// Makes anchor links blue for blog post content.
.page-content {
  .e-content {
    a {
      color: $color-blue;
      &:visited {
        color: $color-purple;
      }
    }
  }
}